<header class="site-header">
  <div class="site-header__inner">
    <div class="site-brand">
      <a class="site-brand__link" href="/" aria-label="Service Network home">
        <img class="site-brand__logo" src="/images/logo.png" alt="Service Network logo">
        <span class="site-title">Service Network</span>
      </a>
    </div>
    <%- include('../partials/nav') %>
  </div>
</header>
