<nav class="site-nav" aria-label="Main" data-site-nav>
  <button class="site-nav__toggle" type="button" aria-expanded="false" aria-controls="site-nav-menu" aria-label="Open navigation menu">
    <span class="site-nav__toggle-lines" aria-hidden="true">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
  <ul id="site-nav-menu">
    <li><a class="<%= currentPage === 'home' ? 'is-active' : '' %>" href="/">Home</a></li>
    <li><a class="<%= currentPage === 'organizations' ? 'is-active' : '' %>" href="/organizations">Organizations</a></li>
    <li><a class="<%= currentPage === 'projects' ? 'is-active' : '' %>" href="/projects">Projects</a></li>
    <li><a class="<%= currentPage === 'categories' ? 'is-active' : '' %>" href="/categories">Categories</a></li>
  </ul>
</nav>
