<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="site-main">
      <div class="site-main__inner">
        <%- body %>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
